@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, calc(25% + 35px)) calc(25% + 35px);
  grid-template-areas: "main-page" "destinations" "destinations" "destinations" "reviews";
}
@media (min-width: 60rem) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, calc(25% + 35px)) calc(25% + 35px);
    grid-template-areas: "main-page" "destinations" "reviews";
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 25%) 25%;
    grid-template-areas: "main-page" "destinations" "reviews";
  }
}

main {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.page {
  scroll-snap-align: start;
}

/*#region Main*/
#main-page {
  grid-area: main-page;
  min-height: 50vh;
  background-image: url("/images/Blimp.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (min-width: 60rem) {
  #main-page {
    min-height: 100vh;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #main-page {
    min-height: 100vh;
  }
}
#main-page .slogan {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  margin: 1rem 0.5rem;
  color: #FEFEFE;
  text-shadow: 2px 2px black;
}
@media (min-width: 60rem) {
  #main-page .slogan {
    font-size: 2.4rem;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (min-width: 60rem) {
  .search-bar .discover {
    font-size: 1.5rem;
  }
}
.search-bar .discover span {
  display: inline-block;
  transition: all 0.3s ease;
  color: #FEFEFE;
}
.search-bar .input-bar {
  max-width: 100%;
  height: 2.5vh;
  display: flex;
  background: white;
  border-radius: 5px;
}
@media (min-width: 60rem) {
  .search-bar .input-bar {
    height: 5vh;
    width: 25vw;
  }
}
@media (min-width: 40rem) and (orientation: landscape) {
  .search-bar .input-bar {
    width: 50vw;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .search-bar .input-bar {
    height: 5vh;
  }
}
.search-bar .input-bar i {
  position: relative;
  padding: 0 0.5rem;
  top: 50%;
  cursor: pointer;
  background-color: transparent;
}
.search-bar .input-bar .input-text {
  width: 100%;
  border: none;
  min-height: 100%;
  border-radius: 5px;
}
.search-bar .input-bar .input-text:focus {
  outline: none;
}

.hide {
  display: none;
}

span.move-up {
  transform: translateY(-20px);
  color: #ff6b21 !important;
}

.top-container {
  min-height: 50vh;
  width: 100vw;
  padding: 1rem;
}
@media (min-width: 60rem) {
  .top-container {
    min-height: 100vh;
    padding-top: 5rem;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .top-container {
    min-height: 150vh;
    padding: 4rem;
  }
}
.top-container h1 {
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px rgba(136, 203, 254, 0.6470588235);
  margin: 2% 0;
}
@media (orientation: landscape) and (max-height: 40rem) {
  .top-container h1 {
    margin-bottom: 2%;
  }
}

.expanding-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 76.72px);
  padding: 1rem;
}
.expanding-cards .card {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
  height: 100%;
  border-radius: 20px;
  max-width: 20%;
  animation: grow0 1s forwards;
  transition: all 1s ease-in-out;
  box-shadow: 0 1px 5px 2px;
}
.expanding-cards .card h3 {
  color: #FEFEFE;
  position: absolute;
  bottom: 0;
  left: 10%;
  opacity: 0;
  transition: all 1s ease-in-out;
}
@media (min-width: 60rem) {
  .expanding-cards .card h3 {
    font-size: 2rem;
  }
}
@media (min-width: 60rem) {
  .expanding-cards .card {
    transition: all 2s ease-in-out;
  }
}

.card.show {
  max-width: 100%;
}
.card.show h3 {
  opacity: 1;
}

.card.hide {
  max-width: 0;
}

@keyframes grow0 {
  from {
    width: 20%;
  }
  to {
    width: 100%;
  }
}
/*#endregion*/
/*#region Destinations*/
.tours-page {
  color: #FEFEFE;
  grid-area: destinations;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
@media (min-width: 60rem) {
  .tours-page {
    display: none;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .tours-page {
    display: none;
  }
}
.tours-page .image {
  background: url("/images/Travel.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  filter: blur(2px);
}

.tours-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  top: 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2.5%;
}
@media (min-width: 60rem) {
  .tours-container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 20% repeat(2, 35%);
    row-gap: 1%;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .tours-container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 20% repeat(2, 35%);
    height: 150vh;
    row-gap: 20%;
  }
}
@media (min-width: 60rem) {
  .tours-container .title {
    grid-column: span 3;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .tours-container .title {
    grid-column: span 3;
  }
}
.tours-container .title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  margin: 5% 0;
}
@media (min-width: 60rem) {
  .tours-container .title h2 {
    font-size: 2rem;
    margin-bottom: 2%;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .tours-container .title h2 {
    font-size: 1rem;
    margin-bottom: 2%;
  }
}
.tours-container .title p {
  text-align: left;
  padding-left: 5%;
  margin-top: 0;
  margin-bottom: 2%;
  font-size: 0.8rem;
}
@media (min-width: 60rem) {
  .tours-container .title p {
    color: #FEFEFE;
    font-size: 1.3rem;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .tours-container .title p {
    color: #FEFEFE;
    font-size: 1rem;
  }
}
.tours-container .title a {
  color: #FEFEFE;
  display: block;
  font-size: 0.7rem;
  padding-left: 5%;
  text-align: left;
  width: 100vw;
}

.tour--items {
  background-color: rgba(13, 3, 32, 0.3882352941);
  height: 35vh;
  margin: 0 10%;
  border-radius: 10px 10px 0 0;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50% 10% 20% 10% 8% 2%;
}
@media (orientation: landscape) and (max-height: 40rem) {
  .tour--items {
    height: 80vh;
  }
}
.tour--items .tour__image {
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-size: cover;
  width: 100%;
  grid-column: span 2;
}
.tour--items .tour__title {
  padding-left: 2%;
  width: 100%;
  margin: 2% 0 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  grid-column: span 2;
  justify-self: center;
  align-self: center;
}
.tour--items .tour__text {
  padding-left: 2%;
  grid-column: span 2;
  font-size: 0.7rem;
  font-weight: 100;
}
.tour--items .tour__time {
  padding-left: 2%;
  grid-column: span 2;
  font-weight: 100;
  font-size: 0.5rem;
}
.tour--items .tour__time span {
  font-size: 0.5rem;
}
.tour--items .tour__time i {
  padding: 0 1%;
}
.tour--items .tour__price {
  width: 100%;
  grid-column: span 2;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 2%;
}
.tour--items .tour__price i {
  padding-right: 2%;
}
.tour--items .tour__price p:first-of-type {
  width: 50%;
  text-align: left;
  padding-left: 2%;
}
.tour--items .tour__price p:last-of-type {
  width: 50%;
  text-align: right;
  padding-right: 5%;
}
.tour--items .tour__price p:last-of-type span {
  font-size: 0.8rem;
}
.tour--items .tour__price p a {
  text-decoration: none;
  color: #FEFEFE;
}
.tour--items .tour__price p a:hover {
  color: #7D82FF;
}
.tour--items .tour__price button {
  border-radius: 10px;
  background-color: transparent;
  border: none;
  box-shadow: 4px 2px 2px 1px black;
  margin: 2%;
  padding: 0 8%;
  z-index: 5;
}
.tour--items .tour__price button:hover {
  color: #537fe7;
}
.tour--items .tour__price button a {
  text-decoration: none;
  color: #FEFEFE;
}

.tours-page-pc {
  display: none;
  color: #FEFEFE;
  grid-area: destinations;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
@media (min-width: 60rem) {
  .tours-page-pc {
    display: block;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  .tours-page-pc {
    min-height: 250vh;
    height: 250vh;
    display: block;
  }
}
@media (min-width: 60rem) {
  .tours-page-pc .header {
    margin-top: 4rem;
    font-size: 1.5rem;
  }
}
.tours-page-pc .image {
  background-image: url("/images/Travel.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  filter: blur(2px);
}

/*#endregion*/
/*#region Reviews*/
#reviews-pc {
  opacity: 0;
  transition: all 0.2s ease;
  grid-area: reviews;
  display: none;
  min-height: 100vh;
  padding-top: 5vh;
  background: linear-gradient(to bottom, rgba(136, 203, 254, 0.6470588235) 50%, #FEFEFE);
}
@media (min-width: 60rem) {
  #reviews-pc {
    display: block;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #reviews-pc {
    display: block;
    opacity: 1;
    min-height: 150vh;
    height: 150vh;
  }
}
@media (min-width: 40rem) and (orientation: landscape) {
  #reviews-pc {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #reviews-pc {
    display: block;
    opacity: 1;
  }
}
#reviews-pc .reviews-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.carousel-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 60%; /*Adjust it depending on the brands-container height*/
}
.carousel-container .arrow {
  cursor: pointer;
  color: white;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(4px);
  transition: all 0.4s ease-in-out;
}
.carousel-container .arrow:hover {
  filter: blur(0px);
}

.zone {
  width: 25%; /*Each review zone takes this much space*/
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 2%;
}
.zone .image {
  /*image container size*/
  min-width: 10vw;
  min-height: 12vw;
  border-radius: 50%;
  /*background image*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.active .image {
  /*image container size*/
  min-width: 12vw;
  min-height: 12vw;
  border-radius: 50%;
  /*background image*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (orientation: portrait) and (min-width: 40rem) {
  .active .image {
    min-width: 15vw;
    min-height: 15vw;
  }
}

.text {
  background-color: rgba(255, 255, 255, 0.329);
  padding: 0.2rem 0;
}
.text p {
  display: none;
  color: #000;
}
.text .name {
  font-size: 1rem;
  font-weight: bold;
}
.text .info {
  font-size: 0.8rem;
  text-align: left;
  padding: 0 0.5rem;
  font-weight: 700;
}

.review01 .image {
  background-image: url("https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80");
}
.review01 .text p {
  display: none;
}
.review01 .text01 p {
  display: block;
}

.review02 .image {
  background-image: url("https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80");
}
.review02 .text p {
  display: none;
}
.review02 .text02 p {
  display: block;
}

.review03 .image {
  background-image: url("https://images.unsplash.com/photo-1524250502761-1ac6f2e30d43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80");
}
.review03 .text p {
  display: none;
}
.review03 .text03 p {
  display: block;
}

.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.btn button {
  background: linear-gradient(to bottom right, #34e0a1, #269c71);
  border: 0;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.btn button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(71, 239, 99, 0.5), 0.125rem 0.125rem 1rem rgba(90, 255, 118, 0.5);
}
.btn button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(71, 239, 99, 0.5), 0.125rem 0.125rem 1rem rgba(90, 255, 118, 0.5);
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 75px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 60rem) {
  .slider {
    height: 125px;
  }
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 125px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 25s linear infinite;
  display: flex;
  flex-direction: row;
  width: 900px;
}
@media (min-width: 60rem) {
  .slider .slide-track {
    width: 1500px;
  }
}
.slider .slide {
  height: 50px;
  width: 150px;
  display: flex;
}
@media (min-width: 60rem) {
  .slider .slide {
    height: 100px;
    width: 250px;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  .slider .slide {
    height: 100px;
    width: 250px;
  }
}
.slider .slide img {
  justify-self: center;
  align-self: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-900px);
    @media (min-width: 60rem) {
      transform: translateX(-1500px);
    }
  }
}
#reviews-mobile {
  grid-area: reviews;
  min-height: 100vh;
  padding-top: 5vh;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(136, 203, 254, 0.6470588235) 50%, #FEFEFE);
}
@media (min-width: 60rem) {
  #reviews-mobile {
    display: none;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #reviews-mobile {
    display: none;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #reviews-mobile {
    display: none;
    opacity: 0;
  }
}
#reviews-mobile .reviews-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.area {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 25%;
  -moz-column-gap: 4%;
       column-gap: 4%;
}
.area .image {
  /*image container size*/
  width: 70%;
  height: 50%;
  border-radius: 50%;
  /*background image*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.area .text {
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.329);
  padding: 0.2rem 0;
}
.area .text:nth-last-of-type(2) .info {
  text-align: right;
}
.area .text:nth-last-of-type(2) .name {
  text-align: right;
}
.area .text p {
  display: block;
  color: #000;
}
.area .text .name {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
  padding: 0 0.5rem;
}
.area .text .info {
  font-size: 0.6rem;
  text-align: left;
  padding: 0 0.5rem;
  font-weight: 700;
}

/*#endregion*/
/*#region Footer*/
#footer {
  grid-area: tips;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 92% 8%;
  grid-template-areas: "tips" "page-footer";
}
@media (min-width: 60rem) {
  #footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    min-height: 150vh;
    height: 150vh;
  }
}
#footer .tips {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-area: tips;
  position: relative;
}
@media (min-width: 60rem) {
  #footer .tips {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #footer .tips {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
#footer .tips .tips-image {
  height: 50%;
  width: 100%;
}
#footer .tips .tips-image .image {
  position: absolute;
  bottom: 50vh;
  width: 100%;
  height: 45%;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
  transform: translateY(-1vh);
}
@media (min-width: 60rem) {
  #footer .tips .tips-image .image {
    bottom: 0;
    left: -45vw;
    height: 100%;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #footer .tips .tips-image .image {
    bottom: 0;
    left: -45vw;
    height: 100%;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #footer .tips .tips-image .image {
    bottom: 0;
    left: -45vw;
    height: 100%;
  }
}
#footer .tips .tips-image .switch-page {
  opacity: 1;
  transform: translateY(0);
}
#footer .tips .action-buttons {
  position: absolute;
  bottom: 47vh;
  z-index: 10;
}
@media (min-width: 60rem) {
  #footer .tips .action-buttons {
    transform: translateX(5vw);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    padding: 8% 0;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #footer .tips .action-buttons {
    transform: translateX(5vw);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    padding: 5% 0;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #footer .tips .action-buttons {
    transform: translateX(5vw);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    padding: 5% 0;
  }
}
#footer .tips .action-buttons .arrow {
  width: 10vw;
}
@media (min-width: 60rem) {
  #footer .tips .action-buttons .arrow {
    width: 5vw;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #footer .tips .action-buttons .arrow {
    width: 5vw;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #footer .tips .action-buttons .arrow {
    width: 5vw;
  }
}
#footer .tips .action-buttons .arrow-container {
  cursor: pointer;
}
@media (min-width: 60rem) {
  #footer .tips .action-buttons .arrow-container {
    padding: 20% 0;
    width: 5vw;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #footer .tips .action-buttons .arrow-container {
    padding: 20% 0;
    width: 5vw;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #footer .tips .action-buttons .arrow-container {
    padding: 20% 0;
    width: 5vw;
  }
}
#footer .tips .action-buttons .arrow-one {
  border-radius: 20% 20% 0 0;
  background-color: #000;
  color: rgba(136, 203, 254, 0.6470588235);
  transform: translateX(-45vw);
}
@media (min-width: 60rem) {
  #footer .tips .action-buttons .arrow-one {
    border-radius: 20% 0% 0% 20%;
    transform: translateX(-2.5vw);
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #footer .tips .action-buttons .arrow-one {
    border-radius: 20% 0% 0% 20%;
    transform: translateX(-2.5vw);
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #footer .tips .action-buttons .arrow-one {
    border-radius: 20% 0% 0% 20%;
    transform: translateX(-2.5vw);
  }
}
#footer .tips .action-buttons .arrow-two {
  border-radius: 0 0 20% 20%;
  box-shadow: 1px 1px 1px 1px #88cafe;
  background-color: rgba(136, 203, 254, 0.6470588235);
  transform: translateX(45vw);
  transition: all 1s ease;
}
@media (min-width: 60rem) {
  #footer .tips .action-buttons .arrow-two {
    border-radius: 0% 20% 20% 0%;
    transform: translateX(2.5vw);
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #footer .tips .action-buttons .arrow-two {
    border-radius: 20% 0% 0% 20%;
    transform: translateX(2.5vw);
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #footer .tips .action-buttons .arrow-two {
    border-radius: 20% 0% 0% 20%;
    transform: translateX(2.5vw);
  }
}
@keyframes arrow-movement {
  from {
    transform: translateY();
  }
}
#footer .tips .tips-info {
  position: absolute;
  padding: 2%;
  height: 100%;
  width: 100%;
  color: black;
}
#footer .tips .tips-info .info {
  top: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  opacity: 0;
  transform: translateY(5vh);
  transition: all 1s ease;
}
@media (min-width: 60rem) {
  #footer .tips .tips-info .info {
    left: 55vw;
    padding: 0 2%;
    top: 25%;
  }
}
@media (orientation: landscape) and (max-height: 40rem) {
  #footer .tips .tips-info .info {
    left: 55vw;
    padding: 0 2%;
    top: 20%;
  }
}
@media (min-width: 40rem) and (orientation: portrait) {
  #footer .tips .tips-info .info {
    left: 55vw;
    padding: 0 2%;
    top: 20%;
  }
}
#footer .tips .tips-info .info h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
  font-family: "Dancing Script", cursive;
}
@media (min-width: 60rem) {
  #footer .tips .tips-info .info h2 {
    font-size: 1.8rem;
  }
}
#footer .tips .tips-info .info h3 {
  font-size: 0.8rem;
  line-height: 1rem;
}
#footer .tips .tips-info .info p {
  font-size: 0.85rem;
  margin: 0;
  line-height: 1.05rem;
}
#footer .tips .tips-info .info a {
  text-decoration: none;
  color: #7D82FF;
  width: 100%;
}
#footer .tips .tips-info .switch-page {
  opacity: 1;
  transform: translateY(0);
}

/*#endregion*//*# sourceMappingURL=styles.css.map */
