$colors: (
    main-color: #88cbfea5,
    destinations-main-color: #537fe7,
    faq-main-color:#432525,
    contact-main-color:#3F979B,
    text-color: #FEFEFE,
    second-text-color: #ff6b21,
    link-color:#7D82FF,
    menu-color: #0d032063,
    creme-color:#ede9d5a1,
     );
